*,
*::after,
*::before {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	display: block;
}

ul {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	margin: 0;
	/* background-image: url(../assets/images/sleep-cat.jpeg); */
	background-color: black;
}
.new {
	background-color: aliceblue;
	width: 20px;
	height: 20px;
}
h1 {
	color: white;
}
input {
	color: black;
}
.flex {
	display: flex;
}
.rowSpace {
	display: flex;
	gap: 10px;
}

.cellSpace {
	margin-bottom: 10px;
	height: 40px;
	width: 40px;
	background-color: black;
	border: solid white 1px;
	color: white;
	text-align: center;
	font-size: x-large;
}
.orange {
	background-color: orange;
}
.grey {
	background-color: grey;
}
.green {
	background-color: green;
}
